* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 5px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}

.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}

.page__current {
  border: 2px solid orange;
  font-weight: bold;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: centerl;
  padding: 0 15px;
  background: lightgray;
}

.navbar__links {
  margin-left: auto;
}

.post__btns {
  display: flex;
}

/* Стилизация полосы прокрутки для WebKit-браузеров */
::-webkit-scrollbar {
  width: 12px; /* ширина полосы прокрутки */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* цвет дорожки полосы прокрутки */
}

::-webkit-scrollbar-thumb {
  background: #888; /* цвет самой полосы прокрутки */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* цвет полосы прокрутки при наведении */
}
